<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <meta name="p:domain_verify" content="e211a9229db41b016da9bf64e090138c" />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="google-site-verification" content="XHS0DD9zUWpEBmu7Fqhp3vq_a2G0T0NayZSvpKfMRwA" />
  <meta property="fb:app_id" content="284069156606933" />

  {% block meta %}
  <link rel="canonical" href="https://deepakpatidar.com/index.html/" />
  <meta name="keywords"
    content="deepakpatidar,deepakpatidar,python,web-development,darkiee,deepakpatidar, deepakpatidar,best deepakpatidar,deepak patidar deepakpatidar blog" />
  <meta name="language" content="English" />
  <meta name="author" content="Deepak Patidar" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="DeepakPatidar" />
  <meta property="og:title"
    content="Deepak Patidar has best article about computer science domain specially in python,django, aws" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://deepakpatidar.com/" />
  <meta property="og:image" content="https://deepakpatidar.com/static/logo/db%20logo.svg" />
  <meta property="og:description"
    content="This is a blog about computer science domain focused on  Python, Django and Web Development with deployement . New posts out every week." />
  <meta property="og:locale" content="en_US" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@deepakdarkiee" />
  <meta name="twitter:creator" content="deepak patidar" />
  <meta name="twitter:title" content="DeepakPatidar" />
  <meta name="twitter:description" content="  " />
  <meta name="twitter:image" content="https://deepakpatidar.com/static/logo/db%20logo.svg" alt="logo-deepakpatidar" />
  <meta property="og:type" content="website" />
  <meta name="description"
    content="This is a blog about computer science domain focused on  Python, Django and Web Development with deployement . New posts out every week." />

  {% endblock meta %} {% block post_meta %} {% endblock post_meta %}

  <title>{% block title %} {% endblock %}</title>
  <style>
    .code-badge {
      padding: 8px !important;
      background:none !important;
      color: white !important;
    }
    .code-badge-language{
      display: none !important;
    }
    .code-badge-copy-icon {
      font-size: 1.3em !important;
      padding-right: 20px;
    }
    

/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(/static/images/loader-64x/Preloader_4.gif) center no-repeat #fff;
}
    
  </style>
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/static/favicon/site.webmanifest" />
  <link rel="mask-icon" href="/static/favicon/ms-icon-144x144.png" color="#5bbad5" />
  <!-- Style -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="/static/contact/css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=JetBrains Mono" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/main71de.css?v=34" />
  <link rel="stylesheet" href="/static/css/code.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="alternate" type="application/rss+xml" title="DeepakPatidar" href="feed.xml" />
  <link rel="icon" type="/static/image/png" href="/static/favicon/favicon-16x16.png" />
  <!-- <link href="https://unpkg.com/highlightjs-badge/highlightjs/styles/vs2015.css" rel="stylesheet"> -->
  <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css" /> -->
   {% block css %} {% endblock css %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
  <script id="dsq-count-scr" src="//deepakpatidar.disqus.com/count.js" async></script>
  <script src="https://unpkg.com/highlightjs-badge/highlightjs/highlight.pack.js"></script>
  
  <script src="https://unpkg.com/highlightjs-badge/highlightjs-badge.min.js"></script>
  <script src="/static/js/main.js"></script>
  <script>
    setTimeout(function () {
      var pres = document.querySelectorAll("pre>code");
      for (var i = 0; i < pres.length; i++) {
        hljs.highlightBlock(pres[i]);
      }
      var options = {
        
        
        loadDelay:0,
        
        
        copyIconClass: "fa fa-copy",
        
        checkIconClass: "fa fa-check text-success",
        
        onBeforeTextCopied: function(text, codeElement) {
          return text;   //  you can fix up the text here
        }
      };
      window.highlightJsBadge(options);
    },20);
  </script>
  
  <!-- Compiled and minified CSS -->
  
  <!-- Compiled and minified JavaScript -->
<script>
	//paste this code under head tag or in a seperate js file.
	// Wait for window load
	$(window).load(function() {
		// Animate loader off screen
		$(".se-pre-con").fadeOut("slow");;
	});
</script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-99SVMHSF8W"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-99SVMHSF8W");
  </script>

 
<script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="deepakpatidar" data-description="Support me on Buy me a coffee!" data-message="" data-color="#40DCA5" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
    <!-- Hotjar Tracking Code for https://deepakpatidar.com -->
<!-- <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2628169,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script> -->
 
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5102995047421909"
     crossorigin="anonymous"></script>
</head>

<body>
  <!-- <div class="se-pre-con"></div> -->
  <div itemscope="" itemtype="http://schema.org/Blog">
    <div id="top" style="visibility: hidden"></div>
    {% block nav %} {% include 'nav.html' %} {% endblock nav %} 
    {% block content %} {% endblock content %} {% block footer %}
    {% include 'home/footer.html' %} {% endblock footer %}
    
    <div class="overlay"></div>
  </div>


</body>

</html>