{% block nav %}
<header>
  <div class="container-color">
    <ul class="menu menu-right">
      <li class="menu-item">
        <a href="{% url 'google_search' %}">
          <span class="fa fa-google"></span>
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'search' %}">
          <span class="fa fa-search"></span>
        </a>
      </li>
      <li class="toggle-menu">
        <a href="javascript:void(0);">
          <span class="fa fa-bars"></span>
        </a>
      </li>
    </ul>
    <ul class="menu menu-left">
      <li class="logo">
        <a href="/" style="font-weight: 900; color: whitesmoke;">Hard<span class="brand">Codez</span></a>
      </li>
      <li class="menu-item">
        <a href="/">
          <span class="fa fa-home" style="margin-right: 3px"></span>
          Home
        </a>
      </li>
      <li class="menu-item">
       <a href="{% url 'articles' %}">
          <span class="fa fa-archive" style="margin-right: 3px"></span>
          Articles
        </a>
      </li>
      <li class="menu-item">
        <a href="#">
          <span class="fa fa-info" style="margin-right: 3px"></span>
          About
        </a>
      </li>
      <li class="menu-item">
        <a href="{% url 'contact' %}">
          <span class="fa fa-address-book" style="margin-right: 3px"></span>
          Contact
        </a>
      </li>
      <li class="menu-item">
       <a href='{% url "post_feed" %}' title="Subscribe to my RSS feed">
          <span class="fa fa-rss" style="margin-right: 3px"></span>
          RSS
        </a>
      </li>
      <li class="menu-item">
       <a href='https://buymeacoffee.com/codezhard'  target="_blank" title="Buy Me Coffee">
          <span class="fa fa-coffee" style="margin-right: 3px"></span>
          Buy Me Coffee
        </a>
      </li>
    </ul>
  </div>
</header>
    
{% include 'message.html' %}

{% endblock nav %}